<h2 mat-dialog-title>NEW APPOINTMENT<div class="close-icon" mat-dialog-close><img src="../../assets/images/close-icon.png" alt=""></div></h2>
<mat-dialog-content>
    <form [formGroup]="appointmentForm" action="">
        <div class="container m-auto flex flex-wrap items-center">
            <div class="w-100 md:w-1/2 text-center">
                <mat-form-field appearance="outline">
                    <mat-label>Branches:</mat-label>
                    <mat-select formControlName="selectedBranch" (selectionChange)="onBranchSelection($event)">
                        <mat-option *ngFor="let branch of branchData" [value]="branch.id">{{ branch.branch_name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-100 md:w-1/2 text-center">
                <mat-form-field appearance="outline">
                    <mat-label>Department:</mat-label>
                    <mat-select formControlName="selectedDepartment" (selectionChange)="onDepartmentSelection($event)">
                        <mat-option *ngFor="let department of departmentData" [value]="department.id">{{ department.department_title }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="w-100 md:w-1/2 text-center">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Doctor:</mat-label>
                    <mat-select formControlName="selectedDoctor" (selectionChange)="onDoctorSelection($event)">
                        <mat-option *ngFor="let doctor of doctorsData" [value]="doctor.doctor_detail.doctor_id">{{ doctor.doctor_detail.doctor_name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
           <div class="w-100 md:w-1/2 text-center position-relative">
                <mat-form-field style="background-color: #fff;" appearance="outline" class="w-full">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker"
                    formControlName="selectedDate"   [matDatepickerFilter]="isDateEnabled" 
                    [disabled]="appointmentForm.value.selectedDoctor == ''"
                    (dateChange)="onDateSelected($event)">
                    <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="appointmentForm.value.selectedDoctor == ''"></mat-datepicker-toggle>
                    <mat-datepicker #picker [disabled]="appointmentForm.value.selectedDoctor == ''"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="w-100 md:w-1/2 text-center">
                <mat-form-field appearance="outline">
                    <mat-label>Appointment Slot:</mat-label>
                    <mat-select formControlName="selectedSlot">
                        <mat-option *ngFor="let slot of availableSlots" [value]="slot.timeSlotId">{{ slot.timeSlot }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>

    <div class="action-buttton-block text-right">
        <button mat-dialog-close class="btn close-button">Close</button>
        <button (click)="bookAppointment(selectedDate)" class="btn" [disabled]="appointmentForm.invalid && appointmentForm.value.selectedSlot == ''">Save</button>
    </div>

    <div class="appointment-details">
        <h3 class="title">APPOINTENT DETAILS</h3>
    </div>
    <div class="appointment-table">
        <div class="table-wrap">
            <table mat-table [dataSource]="dataSource">
                <!-- Position Column -->
                <ng-container matColumnDef="department">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Department </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element;let i=index"> {{element.department}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="doctorName">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Doctor Name </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element;let i=index"> {{element.doctor}} </td>
                </ng-container>
                <!--Column -->
                <ng-container matColumnDef="date">
                    <th class="rTableHead" mat-header-cell mat-sort-header *matHeaderCellDef> Date </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.appointment_date}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="slotTime">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Slot Time </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.appointment_time}}</td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="patientName">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Patient Name </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.lead}} </td>
                </ng-container>
                 <!-- Column -->
                 <ng-container matColumnDef="patientContact">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef>Patient Contact</th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.confirmed_by}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="patientAge">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Patient Age</th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.appointment_desc}} </td>
                </ng-container>
               
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
            </table>
        </div>
        <div class="paginator mt-4">
            <mat-paginator [pageSizeOptions]="[5 , 10 , 20 , 50]"></mat-paginator>
        </div>
    </div>


</mat-dialog-content>