<h2 mat-dialog-title>NEW APPOINTMENT<div class="close-icon" mat-dialog-close><img src="../../assets/images/close-icon.png" alt=""></div></h2>
<mat-dialog-content>
    
    <div class="container m-auto flex flex-wrap items-center">
        <div class="w-100 md:w-1/2 text-center">
            <mat-form-field>
                <mat-label>Branches:</mat-label>
                <mat-select [(ngModel)]="selectedBranch" (selectionChange)="onBranchSelection()">
                    <mat-option *ngFor="let branch of apiData.branches" [value]="branch">{{ branch }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="w-100 md:w-1/2 text-center">
            <mat-form-field>
                <mat-label>Department:</mat-label>
                <mat-select [(ngModel)]="selectedDepartment" (selectionChange)="onDepartmentSelection()">
                    <mat-option *ngFor="let department of departments" [value]="department">{{ department
                        }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="w-100 md:w-1/2 text-center">
            <mat-form-field>
                <mat-label>Doctor:</mat-label>
                <mat-select [(ngModel)]="selectedDoctor" (selectionChange)="onDoctorSelection()">
                    <mat-option *ngFor="let doctor of doctors" [value]="doctor">{{ doctor }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="w-100 md:w-1/2 text-center position-relative">

            <mat-form-field style="background-color: #fff;">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate"
                    [matDatepickerFilter]="isDateEnabled" (dateChange)="onDateSelected($event)">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="w-100 md:w-1/2 text-center">
            <mat-form-field>
                <mat-label>Appointment Slot:</mat-label>
                <mat-select [(ngModel)]="selectedSlot">
                    <mat-option *ngFor="let slot of availableSlots" [value]="slot">{{ slot }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="action-buttton-block text-right">
        <button (click)="bookAppointment()" class="btn" [disabled]="!selectedDoctor || !selectedDate">Save</button>
    </div>

</mat-dialog-content>