<div class="table-1">
    <div class="mb-4 w-full">
        <h3 class="font-bold text-base">Top 25 Bullish movers in Index components:</h3>
        <p class="text-base">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book.</p>
    </div>
    
    <div class="table-group">
        <div class="table-wrap">
            <table mat-table [dataSource]="top25Bullish">
                <!-- Position Column -->
                <ng-container matColumnDef="number">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> No. </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="name">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Name </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element;let i=index"> {{element.name}} </td>
                </ng-container>
                <!--Column -->
                <ng-container matColumnDef="symbol">
                    <th class="rTableHead" mat-header-cell mat-sort-header *matHeaderCellDef> Symbol </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="sector">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Sector </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.sector}}</td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="closeprice">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Close Price </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.closeprice}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="gain">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> % Gain</th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.gain}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="healthscore">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Health Score</th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.healthscore}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            </table>
        </div>
    </div>
</div>

<div class="table-2">
    <div class="mb-4 mt-4 w-full">
        <h3 class="font-bold text-base">Bottom 25 Bearish movers in Index components:</h3>
        <p class="text-base">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book.</p>
    </div>
    
    <div class="table-group">
        <div class="table-wrap">
    
            <table mat-table [dataSource]="bottom25Bullish">
                <!-- Position Column -->
                <ng-container matColumnDef="number">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> No. </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="name">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Name </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element;let i=index"> {{element.name}} </td>
                </ng-container>
                <!--Column -->
                <ng-container matColumnDef="symbol">
                    <th class="rTableHead" mat-header-cell mat-sort-header *matHeaderCellDef> Symbol </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="sector">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Sector </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.sector}}</td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="closeprice">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Close Price </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.closeprice}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="gain">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> % Gain</th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.gain}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="healthscore">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Health Score</th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.healthscore}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            </table>
        </div>
    </div>
</div>

<div class="table-3">
    <div class="mb-4 mt-4 w-full">
        <h3 class="font-bold text-base">Top 25 Bullish Outliers:</h3>
        <p class="text-base">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book.</p>
    </div>
    
    <div class="table-group">
        <div class="table-wrap">
    
            <table mat-table [dataSource]="top25Bearish">
                <!-- Position Column -->
                <ng-container matColumnDef="number">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> No. </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="name">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Name </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element;let i=index"> {{element.name}} </td>
                </ng-container>
                <!--Column -->
                <ng-container matColumnDef="symbol">
                    <th class="rTableHead" mat-header-cell mat-sort-header *matHeaderCellDef> Symbol </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="sector">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Sector </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.sector}}</td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="closeprice">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Close Price </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.closeprice}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="gain">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> % Gain</th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.gain}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="healthscore">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Health Score</th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.healthscore}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            </table>
        </div>
    </div>
</div>

<div class="table-4">
    <div class="mb-4 mt-4 w-full">
        <h3 class="font-bold text-base">Bottom 25 Bearish Outliers:</h3>
        <p class="text-base">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book.</p>
    </div>
    
    <div class="table-group">
        <div class="table-wrap">
    
            <table mat-table [dataSource]="bottom25Bearish">
                <!-- Position Column -->
                <ng-container matColumnDef="number">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> No. </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="name">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Name </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element;let i=index"> {{element.name}} </td>
                </ng-container>
                <!--Column -->
                <ng-container matColumnDef="symbol">
                    <th class="rTableHead" mat-header-cell mat-sort-header *matHeaderCellDef> Symbol </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="sector">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Sector </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.sector}}</td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="closeprice">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Close Price </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.closeprice}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="gain">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> % Gain</th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.gain}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="healthscore">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Health Score</th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.healthscore}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            </table>
        </div>
    </div>
</div>

<div class="table-5">
    <div class="mb-4 mt-4 w-full">
        <h3 class="font-bold text-base">Top 10 Bullish Opportunities:</h3>
        <p class="text-base">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book.</p>
    </div>
    
    <div class="table-group">
        <div class="table-wrap">
            <table mat-table [dataSource]="top10Bullish">
                <!-- Position Column -->
                <ng-container matColumnDef="number">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> No. </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="name">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Name </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element;let i=index"> {{element.name}} </td>
                </ng-container>
                <!--Column -->
                <ng-container matColumnDef="symbol">
                    <th class="rTableHead" mat-header-cell mat-sort-header *matHeaderCellDef> Symbol </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="sector">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Sector </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.sector}}</td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="closeprice">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Close Price </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.closeprice}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="gain">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> % Gain</th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.gain}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="healthscore">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Health Score</th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.healthscore}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            </table>
        </div>
    </div>
</div>

<div class="table-7">
    <div class="mb-4 mt-4 w-full">
        <h3 class="font-bold text-base">Bottom 10 Bearish Opportunities:</h3>
        <p class="text-base">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book.</p>
    </div>
    
    <div class="table-group">
        <div class="table-wrap">
            <table mat-table [dataSource]="bottom10Bearish">
                <!-- Position Column -->
                <ng-container matColumnDef="number">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> No. </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="name">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Name </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element;let i=index"> {{element.name}} </td>
                </ng-container>
                <!--Column -->
                <ng-container matColumnDef="symbol">
                    <th class="rTableHead" mat-header-cell mat-sort-header *matHeaderCellDef> Symbol </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="sector">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Sector </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.sector}}</td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="closeprice">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Close Price </th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.closeprice}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="gain">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> % Gain</th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.gain}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="healthscore">
                    <th class="rTableHead" mat-header-cell *matHeaderCellDef> Health Score</th>
                    <td class="rTableCont" mat-cell *matCellDef="let element"> {{element.healthscore}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            </table>
        </div>
    </div>
</div>